#! /bin/bash
echo  "----------------------------------------"
echo  "Ajout des machines dans les fichiers hosts"
echo  "----------------------------------------"
echo -e "\n1) Mise à jour du fichier host:"
if (cat /etc/hosts | grep {{ hostname }}) 1> /dev/null ; then
   echo "{{ hostname }} déja définit dans ce fichier host"
else
   echo "{{ hostname }}  {{ host_ip }}" >> /etc/hosts
   echo "{{ hostname }} correctement ajouté dans le fichier hote"
fi
